.root{
    -fx-font-size: 13pt;
    /*-fx-background: rgb(225, 228, 203);*/
}

#login {

    /*#144479*/
    /*-fx-background-image: url('../images/library.jpg');*/
    /*-fx-background-position: center;*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-size: cover;*/
    -fx-background-color: linear-gradient(rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), linear-gradient(#670d10 0%, #092756 100%);
    /*linear-gradient(#103769 0%, #144479 25%, #21649D 75%, #4588B9 100%);*/
    -fx-fill: #FEFEFE;
}

/*background: #092756;*/
/*background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);*/
#title {
    -fx-fill: white;
}
.label{
    -fx-text-fill: white;
}
#bannerIdtf{
    /*-fx-text-fill: white;*/
    -fx-background-image: url('../images/user_circle.png');
}

#passwordtf{
    -fx-background-image: url('../images/lock.png');
}



/*.button{*/
/*-fx-background-color: #4588B9;*/
/*-fx-border-color: white;*/
/*-fx-text-fill: white;*/
/*!*-fx-font-weight: 900;*!*/
/*!*-fx-font-size: 14pt;*!*/
/*}*/
/*.button:hover{*/
/*-fx-background-color: #6fa3c9;*/
/*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );*/
/*}*/

.textfield{
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 10 center;
    -fx-background-size: 20px;
    -fx-background-color: transparent;
    -fx-padding: 0px 60px;
    /*-fx-border-color: white;*/
}

.jfx-snackbar-content{
    -fx-background-color: #2b2727;
    -fx-pref-width: 500px;
    -fx-min-width: 500px;
    -fx-max-width: 500px;
}

.jfx-snackbar-toast{
    -fx-text-fill: #ff0000;
    -fx-font-weight: 900;
}


