.page{
    -fx-pref-width: 700;
    -fx-pref-height: 600;
    -fx-background-color: #2b2727;
}
.label{
    -fx-text-fill: white;
}

.title{
    -fx-fill: white;
}

.text-field.error, .text-area.error{
    -fx-text-box-border: red;
    -fx-focus-color: red ;
}

.context-menu{
    -fx-background-color: rgba(103, 101, 101, 1);
    -fx-opacity: 80;
}