.root{
    -fx-font-size: 13pt;
    /*-fx-background: rgb(225, 228, 203);*/
}

#login {
    -fx-background-color: #66D85A;
}

#title {
    -fx-fill: #FEFEFE;
}

#bannerIdtf{
    -fx-background-image: url('../images/user_circle.png');
}

#passwordtf{
    -fx-background-image: url('../images/lock.png');
}

.textfield{
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 10 center;
    -fx-background-size: 20px;
}


